[Unit]
Description=Odoo 19 Business ERP
After=network.target postgresql.service
Requires=postgresql.service

[Service]
Type=simple

User={{ odoo_user }}
Group={{ odoo_group }}

WorkingDirectory={{ odoo_source }}

EnvironmentFile={{ odoo_conf_dir }}/odoo.env

ExecStart={{ odoo_venv }}/bin/python \
{{ odoo_source }}/odoo-bin \
-c {{ odoo_conf_dir }}/odoo.conf

Restart=always
RestartSec=5

TimeoutStartSec=300
TimeoutStopSec=60

LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
