server {

    listen 443 ssl;

    server_name {{ odoo_backend_hostname }} {{ odoo_backend_ip }};

    ssl_certificate {{ ssl_dir }}/{{ odoo_ssl_name }}.crt;

    ssl_certificate_key {{ ssl_dir }}/{{ odoo_ssl_name }}.key;


    proxy_read_timeout 720s;


    location /websocket {

        proxy_pass http://127.0.0.1:8072;

        proxy_http_version 1.1;

        proxy_set_header Upgrade $http_upgrade;

        proxy_set_header Connection "upgrade";

        proxy_set_header Host $host;

    }


    location / {

        proxy_pass http://127.0.0.1:8069;


        proxy_set_header Host $host;

        proxy_set_header X-Real-IP $remote_addr;

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_set_header X-Forwarded-Proto https;

    }
}
