#!/bin/bash
set -e

BACKUP_DIR="{{ backup_dir }}"
DATE=$(date +%Y-%m-%d_%H-%M)

sudo -u postgres pg_dumpall \
| gzip > $BACKUP_DIR/postgres/postgres-$DATE.sql.gz

if [ -d "/opt/odoo/data/filestore" ]; then
    tar -czf \
      $BACKUP_DIR/filestore/filestore-$DATE.tar.gz \
      -C /opt/odoo/data \
      filestore
else
    echo "[WARN] No filestore found yet"
fi

find $BACKUP_DIR/postgres \
  -type f -name "*.gz" -mtime +30 -delete

find $BACKUP_DIR/filestore \
  -type f -name "*.gz" -mtime +30 -delete

chown -R odoo:odoo {{ backup_dir }}
